.account-icon {
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    background: #CCC;
    margin-left: 45%;
    margin-top: 2%;
    text-align: center;
    line-height: 10vw;
    font-size: 180%;
}

.inner-area {
    width: 93%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 2%;
}

.change-details {
    order: 1;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0.1px rgb(0,0,0,0.5);
    background: rgb(59, 59, 59);
    /* position: absolute; */
    position: relative;
    flex-grow: 1;
}

.change-title {
    height: 10%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background: dodgerblue;
    color: white;
    line-height: 6vh;
    text-indent: 10px;
    font-weight: bold;
}

.change-input {
    height: 20%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.change-input-title {
    height: 50%;
    width: 100%;
    text-indent: 10px;
    order: 1;
    line-height: 6vh;
    color: white;
}

.change-input-field{
    height: 30%;
    width: 100%;
    order: 2;
    display: flex;
}

.change-input-field label {
    order: 1;
    width: 30%;
    margin-left: 5%;
    line-height: 6vh;
}

.change-input-field input {
    order: 2;
    width: 60%;
    margin-left: 1%;
    height: 90%;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
}

.change-input-field button {
    order: 3;
    margin-left: 1%;
    outline: none;
    border: none;
    border-radius: 10px;
    background: dodgerblue;
    height: 100%;
    cursor: pointer;
    color: white;
}

.change-input-field button:hover {
    background: rgb(0,0,0,0.6);
}

.past-conferences {
    order: 2;
    height: 100%;
    width: 30.5%;
    margin-left: 2.5%;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0.1px rgb(0,0,0,0.5);
    background: rgb(59, 59, 59);
    /* position: absolute; */
}

.past-conferences-list {
    height: 90%;
    width: 100%;
    overflow: auto;
    color: white;
}

.past-conferences-list p {
    line-height: 5vh;
    width: 100%;
    text-align: center;
}

.past-title {
    height: 10%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background: dodgerblue;
    color: white;
    line-height: 6vh;
    text-indent: 10px;
    font-weight: bold;
}

/* Past conferences */
.past-groupings-headers {
    height: 15%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    line-height: 5%;
}

.past-groupings-presenter-text {
    overflow-y: auto;
    height: 85%;
    width: 100%;
    color: white;
    text-align: center;
}

/* Sign up */
.sign-up {
    margin: auto;
    height: 80%;
    width: 50%;
    margin-top: 5%;
    background: rgb(59, 59, 59);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0.1px rgb(0,0,0,0.5);
}

#signUpButton button:hover, #signInButton button:hover {
    background: rgb(0,0,0,0.6);
}

#signUpButton {
    order: 3;
    margin-left: 30%;
    outline: none;
    border: none;
    border-radius: 10px;
    background: dodgerblue;
    cursor: pointer;
    color: white;
    height: 8%;
    width: 15%;
}

#signInButton {
    order: 3;
    margin-left: 5%;
    outline: none;
    border: none;
    border-radius: 10px;
    background: dodgerblue;
    cursor: pointer;
    color: white;
    height: 8%;
    width: 15%;
}

.enter-title {
    height: 10%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background: dodgerblue;
    color: white;
    line-height: 6vh;
    text-indent: 10px;
    font-weight: bold;
}

.enter-input {
    height: 10%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.enter-input-field label {
    order: 1;
    width: 30%;
    margin-left: 5%;
    line-height: 6vh;
}

.enter-details {
    order: 1;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0.1px rgb(0,0,0,0.5);
    background: rgb(59, 59, 59);
    /* position: absolute; */
    position: relative;
    flex-grow: 1;
}

.enter-input-title {
    height: 50%;
    width: 20%;
    text-indent: 10px;
    order: 1;
    line-height: 6vh;
    color: white;
}

.enter-input-field {
    height: 40%;
    width: 60%;
    order: 2;
    margin-top: 1%;

}

.enter-input-field input {
    width: 80%;
    margin-left: 1%;
    height: 90%;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
}

.message {
    color: red;
    text-align: center;
}
