.box {
    box-shadow: 0px 10px 10px 0.1px rgb(0,0,0,0.5);
    background: rgb(59, 59, 59);
    border-radius: 10px;

    overflow-x: hidden;

    background: dodgerblue;
    margin-bottom: 5%;
}


.button {

    /* margin: 8px, 8px, 8px, 0; */
    margin: 8px;

    line-height: 36px;

    border-radius: 4px;

    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 16px;
    cursor: pointer;
}

.button:disabled {
    background-color: #363434;
    color: rgb(124, 124, 124);
    cursor: not-allowed;
}

.button:hover {
    filter: brightness(85%);
}

.button-action {background-color: #4CAF50;} /* Green */
.button-action-2 {background-color: #00BCD4;} /* Blue */
.button-warning {background-color: #F44336;} /* Red */


.material-table {
    color: white;
    width: 100%;
    background: #424242;

    border-spacing: 0;
    overflow-y: auto;
}

.material-thead {
    background: inherit;
}

.th-left {
    padding-left: 24px;
}

.th-rest {
    padding: 0;
}

.material-th {
    
    /* padding: 0; */
    border-bottom-width: 1px;
    border-bottom-style: solid;

    text-align: left;
    font-size: 12px;
    font-weight: 500;

    color: hsla(0,0%,100%,.7);

    border-bottom-color: hsla(0,0%,100%,.12);
}

.material-tr {
    color: #ffffff;
    height: 56px;
    background: inherit;
    
    display: table-row;
    vertical-align: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.material-tbody {
    background: inherit;
    display: table-row-group;
}

.material-td {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: hsla(0,0%,100%,.12);

    font-size: 14px;
}

.td-left {
    padding-left: 24px;
}

.td-rest {
    padding: 0;
}

/* tr :nth-child(even) {
    color: #ffffff;
    background-color: rgb(59, 59, 59);
}

tr :nth-child(odd) {
    color: #ffffff;
    background-color: rgb(27, 27, 27);
} */