.wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #232323;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Alata', sans-serif;
    overflow-x: hidden;
}

/* Menu */
.menu-box {
    /* height: 15%; */
    height: 8%;
    width: 100%;
    background: rgb(59, 59, 59);
    display: flex;
    flex-direction: row;
    /* line-height: 15vh; */
    line-height: 8vh;
    color: white;
    box-shadow: 0px 2px 1px 1px rgb(0,0,0,0.1);
}

.menu-buttons-box {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    order: 2;
    margin-left: 40%;
    color: white;
}

.menu-button {
    flex-grow: 1;
    width: 25%;
    /* font-size: 130%; */
    font-size: 100%;
    text-align: center;
    cursor: pointer;
}

.menu-button:hover {
    color: dodgerblue;
}

.logo-box {
    /* font-size: 180%; */
    font-size: 150%;
    width: 20%;
    height: 100%;
    order: 1;
    text-align: center;
    color: white;
}

/* Report */
    .report-box {
        height: 70%;
        width: 50%;
        position: absolute;
        top: 10%;
        right: 5%;
        background: rgb(59, 59, 59);
        border-radius: 10px;
        box-shadow: 0px 10px 10px 0.1px rgb(0,0,0,0.5);
    }

    .report-box-headers {
        height: 10%;
        width: 100%;
        background: dodgerblue;
        display: flex;
        flex-direction: row;
        border-radius: 10px 10px 0px 0px;
        font-weight: bold;
    }

    .report-box-entry-list {
        height: 90%;
        width: 100%;
        overflow-y: auto;
    }

    .indiv-header {
        height: 100%;
        width: 25%;
        flex-grow: 1;
        color: white;
        text-align: center;
        line-height: 7vh;
    }

    .indiv-report-entry {
        height: 7vh;
        width: 100%;
        margin-top: 2px;
        background: rgb(0,0,0,0.3);
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    .indiv-report-entry:hover {
        background: rgb(0,0,0,0.5);
    }

    .indiv-report-part {
        flex-grow: 1;
        width: 25%;
        color: white;
        text-align: center;
        line-height: 7vh;
    }







/* Sign-In Fields */
    .sign-in-box {
        height: 50%;
        width: 30%;
        position: absolute;
        top: 10%;
        left: 5%;
        background: rgb(59, 59, 59);
        border-radius: 10px;
        box-shadow: 0px 10px 10px 0.1px rgb(0,0,0,0.5);
    }

    .sign-in-header {
        height: 20%;
        width: 100%;
        line-height: 10vh;
        font-size: 150%;
        text-align: center;
        color: white;
    }

    .input-section {
        height: 30%;
        width: 100%;
        margin-top: 10%;
    }

    .username-box {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        line-height: 4.5vh;
    }

    .username-box label {
        order: 1;
        width: 25%;
        text-align: center;
        margin-left: 5%;
        color: white;
    }

    .username-box input[type="text"] {
        order: 2;
        width: 50%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 10px;
        border: none;
        outline: none;
        text-indent: 10px;
    }

    .password-box {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        line-height: 4.5vh;
        margin-top: 5%;
    }

    .password-box label {
        order: 1;
        width: 25%;
        text-align: center;
        margin-left: 5%;
        color: white;
    }

    .password-box input[type="password"] {
        order: 2;
        width: 50%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 10px;
        border: none;
        outline: none;
        text-indent: 10px;
        
    }

    #signInButton{
        height: 10%;
        width: 20%;
        order: 1;
        background: dodgerblue;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        margin-left: 30%;
        margin-top: 5%;
        font-family: inherit;
    }

    #signUpButton{
        height: 10%;
        order: 2;
        width: 20%;
        background: dodgerblue;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        margin-left: 5%;
        margin-top: 5%;
        font-family: inherit;
    }

    #signInButton:hover, #signUpButton:hover {
        background: rgb(0,0,0,0.6);
    }

    .loginButtons {
        display: flex;
        flex-direction: row;
    }

/* Footer */
    .footer-box {
        height: 5%;
        width: 100%;
        text-align: center;
        color: white;
        position: absolute;
        bottom: 0;
        background: rgb(0,0,0,0.1);
        line-height: 5vh;
    }

.loading-box {
    height: 30%;
    width: 15%;
    background: rgb(0,0,0,0.5);
    color: white;
    position: absolute;
    top: 35%;
    left: 42.5%;
    border-radius: 10px;
    line-height: 30vh;
    text-align: center;
    display: none;
}

.disable-scrolls {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.disable-scrolls::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Error message */
.message {
    color: red;
    text-align: center;
    margin-top: 2%;
}

